<footer class="footer">
    <div class="footer_container">
        <div class="footer_row">
            <div class="footer_col">
                <img src="/Resources/Natures Source Logo Photo.png" alt="">
            </div>
            <div class="footer_col">
                <div class="footer_col_title">
                    <a href="/services/">Services</a>
                </div>
                <ul>
                    <li><a class="footer_col_element" href="/services/#ds1">Garden Rejuvenation</a></li>
                    <li><a class="footer_col_element" href="/services/#hs2">Hardscaping</a></li>
                    <li><a class="footer_col_element" href="/services/#mt2">Maintenance</a></li>
                    <li><a class="footer_col_element" href="/services/#ds2">Design</a></li>
                </ul>
            </div>
            <div class="footer_col">
                <div class="footer_col_title">
                    <a href="/projects/">Projects</a>
                </div>
            </div>
            <div class="footer_col">
                <div class="footer_col_title">
                    <a href="/about/">About Us</a>
                </div>
                <ul>
                    <li><p>jack@naturessource.nz</p></li>
                    <li><p>+64 20 4068 0173</p></li>
                    <li><p>daniel@naturessource.nz</p></li>
                </ul>
                <div class="social_links">
                    <a href="https://www.facebook.com/naturessourcenz"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/naturessourcenz?igsh=dGFhOWlzYnJhbmM5"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/@NaturesSourceNZ"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="footer_copyright">
            <img src="/Resources/SiteSafe Logo.png" alt="SiteSafe">
            <p>&copy;2024 Natures Source Auckland Limited | All Rights Reserved</p>
        </div>
    </div>
</footer>